{% extends "base.html" %}
{# переопределяем блок `title` базового шаблона #}
{% block title %}Firmware update{% endblock %}
{% block style %}


{% endblock %}
{# переопределяем блок `content` базового шаблона #}
{% block content %}

<div class="container px-4 py-2">
    <h1 class="display-1">Firmware update</h1>
    <div class="divider"></div>
    <form class="row g-3" method="get" enctype="multipart/form-data">

        <div class="row align-items-end">
            <div class="col">
                <label for="formUniqueID" class="form-label">Device Unique ID</label>
                <input class="form-control" type="text" id="formUniqueID" name="unique_id"
                       value="{{ context.form.unique_id }}"/>
            </div>
            <div class="col">
                <label for="formToken" class="form-label">Device Token</label>
                <input class="form-control" type="text" id="formToken" name="token" value="{{ context.form.token }}"/>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Find</button>

            </div>

        </div>


    </form>
    <div class="row align-items-end m-1">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>

{% if context.device.found %}
<div class="container px-4 py-2">
    <form class="row g-3" method="post" enctype="multipart/form-data"
          path="?unique_id={{ context.form.unique_id }}&token={{ context.form.token }}">
        <div class="row align-items-end">
            <div class="col">
                <label for="formFile" class="form-label">Firmware binary (accepting only .bin)</label>
                <input class="form-control" type="file" id="formFile" name="file" accept=".bin">
            </div>
            <div class="col">
                <label for="formVersion" class="form-label">Firmware version</label>
                <input class="form-control" type="number" id="formVersion" name="version" min="1" step="1">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </form>
</div>

<div class="container px-4 py-2">
    Firmwares found: {{ context.device.firmwares|length }}


    <div style="row">
        <table class="table table-hover table-striped ">
            <thead>
            <tr>
                {% for title in context.device.firmware_titles %}
                <td>{{ title }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for firmware in context.device.firmwares %}
            <tr>
                <td>{{ firmware.version }}</td>
                <td>{{ firmware.date }}</td>
                <td>{{ firmware.num_of_downloads }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% else %}
<div class="container px-4 py-3">
    <div class="alert alert-primary" role="alert">
        You can watch info for <a
            href="?unique_id=d7bf47c2a2fc11353eb29e5e233407b0acec48f6&token=54493f9fa6f66ed1fb993919ad79df52c5b1e379">example
        device</a>
    </div>
</div>

{% endif %}


{% endblock %}