{% extends "base.html" %}
{# переопределяем блок `title` базового шаблона #}
{% block title %}System info{% endblock %}
{% block style %}
{% endblock %}

{% block script %}
$(document).ready(() => {
  var iframeHead = $('#device_data').contents().find('head')
  iframeHead.append('<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">')
  var iframeBody = $('#device_data').contents().find('body')
  // inject loading spinner
  iframeBody.append('<div class="d-flex justify-content-center"><div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div></div>')
})
{% endblock %}

{# переопределяем блок `content` базового шаблона #}
{% block content %}

<div class="container px-4 py-3">
    <h1 class="display-1">System info</h1>
    <div class="divider"></div>
    <form class="row g-3" method="get" enctype="multipart/form-data">

        <div class="row align-items-end">
            <div class="col">
                <label for="formUniqueID" class="form-label">Device Unique ID</label>
                <input class="form-control" type="text" id="formUniqueID" name="unique_id"
                       value="{{ context.form.unique_id }}"/>
            </div>
            <div class="col">
                <label for="formToken" class="form-label">Device Token</label>
                <input class="form-control" type="text" id="formToken" name="token" value="{{ context.form.token }}"/>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Find</button>

            </div>

        </div>


    </form>
    <div class="row align-items-end m-1">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>

{% if context.device.found %}
<div class="container px-4 py-3">

    <div class="embed-responsive embed-responsive-16by9">
        <iframe id="device_data" class="embed-responsive-item"
                src="/api/system_info/{{ context.form.unique_id }}/{{ context.form.token }}"
                allowfullscreen="" data-loaded="false" width="100%"></iframe>
    </div>
</div>
{% else %}
<div class="container px-4 py-3">
    <div class="alert alert-primary" role="alert">
        You can watch info for <a
            href="?unique_id=d7bf47c2a2fc11353eb29e5e233407b0acec48f6&token=54493f9fa6f66ed1fb993919ad79df52c5b1e379">example
        device</a>
    </div>
</div>

{% endif %}


{% endblock %}